body{
  margin:0;
  font-family:"Baloo Tamma 2", sans-serif;
  background:#fff;
}

.navigation{
  background:rgb(253, 127, 148);
  border-top:2px solid magenta;
  padding:12px 40px !important;
}

.brand-logo{
  height:26px;
  width:auto;
}

.navigation-link{
  text-decoration:none;
  font-size:14px;
  font-weight:500;
  color:#fff !important;
}

.navigation-link:hover{
  color:#670061 !important;
}

html {
  scroll-behavior: smooth;
}

.m-heading {
  font-family: "Roboto Slab", serif;
}
.text-white{
	color: white;
}

.main-container {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://marketplace.canva.com/EAFhb34_pO4/1/0/1131w/canva-pastel-cute-playful-illustrated-dessert-cafe-menu-f8Da51Z2pPQ.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.main_row h1 {
  font-size: 5rem;
 
}

.main_row img {
  width: auto;
  height: 100vh;
 
}
